*,html,bodY{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.paybtns {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 600px;
    align-items: center;
    padding-right:1rem;
    
}
.paybtns button {
    width: 100%;
}
.paybtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size:1.6em;
  width: 250px;
  padding: 0.5em 1em;
  cursor:pointer;
}
.paybtn img{
    width:3rem;
    margin-right:0.5em
}

.payment-tab{
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.fees-tab{
background-color: aliceblue;
}
main{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}