*,html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.paybtns {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 600px;
    align-items: center;
    padding-right:1rem;
    
}
.paybtns button {
    width: 100%;
}
.paybtn {
    margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size:1.2em;
  font-weight: 500;
  width: 250px;
  padding: 0.5em 1em;
  cursor:pointer;
  border:1px solid none;
  border-radius: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.paybtn img{
    width:1.5rem;
    margin-right:0.5em
}

.payment-tab{
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gcash{
background-color:#1972F9 ;
color: white;
}
#maya{
background-color: black;
color: rgb(0, 214, 0);
}
#tyme{
background-color: aqua;
    color:black;
}
#paypal{
background-color: #2d67be;
color: white;
}
.generalInfo{
    display:grid;
    grid-template-columns: auto auto;
}
#studentContainer h4{
    text-align: center;
}
#studentInfo {
    display: grid;
    grid-template-columns: auto auto;
}
#studentSubject tr td{
    padding: 2rem;
}